/************************** GLOBAL STYLES */
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: #242424;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* PHONE SCREENS */
@media screen and (max-width: 500px) {
  /************************** TOP NAV */
  nav {
    margin-top: 10vw;
    margin-bottom: 8.5vw;
    width: 100vw;
  }

  nav h1 {
    color: #f59e09;
    font-size: 8.5vw;
  }

  .nav-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-button {
    display: none;
  }

  .main-logo {
    width: 12.5vw;
    height: 12.5vw;
    margin-bottom: 1vw;
  }

  .nav-button-group p {
    display: none;
  }

  /************************** SECTION 1 */

  .section1 {
    display: none;
  }

  .section1-mobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
    width: 90vw;
    text-align: center;
  }

  .section1-mobile-button {
    font-size: 5vw;
    font-weight: 700;
    background-color: #f59e09;
    border: none;
    padding: 3vw 5vw;
    border-radius: 3px;
    color: #fff;
    border: 2px solid #f59e09;
  }

  .section1-mobile-button:hover {
    font-size: 5vw;
    font-weight: 700;
    background-color: #f2f5f9;
    border: none;
    padding: 3vw 5vw;
    border-radius: 3px;
    color: #242424;
    text-decoration: none;
    border: 2px solid #242424;
  }

  .section1-mobile-middle {
    padding: 3vw;
    position: relative;
    margin-top: 7vw;
    margin-bottom: 10vw;
  }

  .section1-mobile-pattern {
    position: absolute;
    right: 25vw;
    bottom: 12.5vw;
    z-index: -1;
    transform: scale(1.7);
  }

  .section1-mobile-top h2 span {
    font-weight: 900;
    color: #fff;
  }

  .section1-mobile-top-h2-1 {
    background-color: #f59e09;
    color: #fff;
    font-weight: 600;
    padding: 2vw 4vw;
    width: 90%;
    text-align: center;
    margin-bottom: 2.5vw;
    font-size: 6vw;
  }

  .section1-mobile-top-h2-2 {
    background-color: #f59e09;
    color: #fff;
    font-weight: 600;
    padding: 2vw 4vw;
    width: 90%;
    text-align: center;
    margin-left: 5vw;
    margin-bottom: 4vw;
    font-size: 6vw;
  }

  .section1-mobile-top-h2-name {
    font-size: 14vw;
    font-weight: 700;
    margin-bottom: 3vw;
  }

  .section1-mobile-top h3 {
    font-size: 6vw;
    margin-bottom: 1vw;
  }

  .section1-mobile-top h4 {
    color: #f59e09;
    font-size: 5vw;
    margin-bottom: 2vw;
  }

  .section1-mobile-bottom p {
    margin-top: 5vw;
    margin-bottom: 0;
    font-size: 5.75vw;
    font-weight: 900;
  }

  /************************** SECTION 2 */
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }

  .section2 h2 {
    width: 90%;
    font-weight: 500;
    font-size: 6vw;
    line-height: 1.2;
    text-align: center;
    color: #f59e09;
    margin-bottom: 4vw;
  }

  .section2 p {
    width: 85vw;
    font-size: 4vw;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 12vw;
    font-weight: 500;
  }

  .section2 img {
    width: 100%;
    margin-bottom: 4vw;
  }

  /************************** SECTION 3 */

  .section3 {
    width: 90vw;
    margin-bottom: 3vw;
    position: relative;
  }

  .section3-text h2 {
    font-size: 4.5vw;
    margin-bottom: 4vw;
    font-style: italic;
    font-weight: 900;
  }

  .section3-text {
    position: absolute;
    margin-top: 25%;
    margin-left: 4vw;
    width: 62%;
  }

  .section3-text p {
    font-size: 3vw;
  }

  /************************** SECTION 4 */
  .section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-bottom: 4vw;
    text-align: center;
  }

  .section4-right {
    width: 100%;
  }

  .section4-left {
    width: 80%;
  }

  .section4-left img {
    width: 100%;
  }

  .section4-right {
    padding: 7vw;
  }

  .section4-right-image {
    display: flex;
    justify-content: flex-end;
  }

  .section4-right-image img {
    display: none;
  }

  .section4-right h3 {
    font-size: 5vw;
    margin-bottom: 1vw;
    font-weight: 800;
  }

  .section4-right h2 {
    color: #f59e09;
    font-size: 8vw;
    margin-bottom: 2vw;
    font-weight: 800;
  }

  .section4-right p {
    font-size: 4vw;
    line-height: 1.4;
  }

  /************************** SECTION 5 */

  .section5 {
    width: 90vw;
    margin-bottom: 10vw;
    position: relative;
  }

  .section5-text h2 {
    font-size: 4.5vw;
    margin-bottom: 4vw;
    font-style: italic;
    font-weight: 900;
  }

  .section5-text {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 5vw;
    margin-right: 4vw;
    text-align: right;
    width: 55%;
  }

  .section5-text p {
    font-size: 3vw;
  }

  /************************** SECTION 6 */
  .section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .section6-main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section6-bkgd {
    background-color: #f59e09;
    height: 52.5%;
    width: 100vw;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

  .section6 h2 {
    width: 90%;
    font-weight: 500;
    font-size: 5.5vw;
    line-height: 1.2;
    text-align: center;
    color: #f59e09;
    margin-bottom: 3vw;
  }

  .section6 h3 {
    width: 100%;
    font-weight: 900;
    font-size: 6vw;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    margin-bottom: 3vw;
  }

  .section6 p {
    color: #fff;
    font-weight: 700;
    width: 82vw;
    font-size: 3.75vw;
    text-align: center;
    margin-bottom: 8vw;
    line-height: 1.4;
  }

  .section6 img {
    width: 90%;
    margin-bottom: 5vw;
  }

  /************************** FOOTER */
  footer {
    margin-top: 10vw;
    margin-bottom: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer h1 {
    color: #f59e09;
    margin-bottom: 5vw;
    margin-top: 1vw;
    font-size: 2.5rem;
  }

  .footer-bottom {
    width: 70%;
    text-align: center;
    margin-top: 7vw;
  }

  .footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8vw;
  }

  .footer-social img {
    height: 100%;
    cursor: pointer;
  }

  .footer-button {
    display: inline-block;
    font-size: 5vw;
    font-weight: 700;
    background-color: #f59e09;
    border: none;
    padding: 3vw 5vw;
    border-radius: 3px;
    color: #fff;
    border: 2px solid #f59e09;
    margin-bottom: 1.75vw;
  }

  .footer-button:hover {
    font-size: 5vw;
    font-weight: 700;
    background-color: #f2f5f9;
    border: none;
    padding: 3vw 5vw;
    border-radius: 3px;
    color: #242424;
    text-decoration: none;
    border: 2px solid #242424;
  }

  .footer-button-group p {
    margin-bottom: 0;
    font-size: 5.5vw;
    font-weight: 900;
    margin-bottom: 5vw;
  }
}

/* BETWEEN PHONE & TABLET SCREENS */
@media screen and (min-width: 500px) {
  /************************** TOP NAV */
  nav {
    margin-top: 10vw;
    margin-bottom: 8.5vw;
    width: 80vw;
  }

  nav h1 {
    color: #f59e09;
    font-size: 6.5vw;
  }

  .nav-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-button {
    display: none;
  }

  .main-logo {
    width: 10vw;
    height: 10vw;
    margin-bottom: 0.5vw;
  }

  .nav-button-group p {
    display: none;
  }

  /************************** SECTION 1 */

  .section1 {
    display: none;
  }

  .section1-mobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
    width: 80vw;
    text-align: center;
  }

  .section1-mobile-button {
    font-size: 4vw;
    font-weight: 700;
    background-color: #f59e09;
    border: none;
    padding: 2vw 4vw;
    border-radius: 1vw;
    color: #fff;
    border: 0.5vw solid #f59e09;
  }

  .section1-mobile-button:hover {
    font-size: 4vw;
    font-weight: 700;
    background-color: #f2f5f9;
    border: none;
    padding: 2vw 4vw;
    border-radius: 1vw;
    color: #242424;
    text-decoration: none;
    border: 0.5vw solid #242424;
  }

  .section1-mobile-middle {
    padding: 3vw;
    position: relative;
    margin-top: 7vw;
    margin-bottom: 10vw;
  }

  .section1-mobile-pattern {
    position: absolute;
    right: 25vw;
    bottom: 12.5vw;
    z-index: -1;
    transform: scale(1.7);
  }

  .section1-mobile-top h2 span {
    font-weight: 900;
    color: #fff;
  }

  .section1-mobile-top-h2-1 {
    background-color: #f59e09;
    color: #fff;
    font-weight: 600;
    padding: 2vw 4vw;
    width: 90%;
    text-align: center;
    margin-bottom: 2.5vw;
    font-size: 5vw;
  }

  .section1-mobile-top-h2-2 {
    background-color: #f59e09;
    color: #fff;
    font-weight: 600;
    padding: 2vw 4vw;
    width: 90%;
    text-align: center;
    margin-left: 5vw;
    margin-bottom: 4vw;
    font-size: 5vw;
  }

  .section1-mobile-top-h2-name {
    font-size: 14vw;
    font-weight: 700;
    margin-bottom: 3vw;
  }

  .section1-mobile-top h3 {
    font-size: 6vw;
    margin-bottom: 1vw;
  }

  .section1-mobile-top h4 {
    color: #f59e09;
    font-size: 5vw;
    margin-bottom: 2vw;
  }

  .section1-mobile-bottom p {
    margin-top: 4vw;
    margin-bottom: 0;
    font-size: 4.5vw;
    font-weight: 900;
  }

  /************************** SECTION 2 */
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }

  .section2 h2 {
    width: 90%;
    font-weight: 500;
    font-size: 5.5vw;
    line-height: 1.2;
    text-align: center;
    color: #f59e09;
    margin-bottom: 4vw;
  }

  .section2 p {
    width: 95%;
    font-size: 3.5vw;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 10vw;
    font-weight: 500;
  }

  .section2 img {
    width: 100%;
    margin-bottom: 4vw;
  }

  /************************** SECTION 3 */

  .section3 {
    width: 80vw;
    margin-bottom: 3vw;
    position: relative;
  }

  .section3-text h2 {
    font-size: 4vw;
    margin-bottom: 4vw;
    font-style: italic;
    font-weight: 900;
  }

  .section3-text {
    position: absolute;
    margin-top: 25%;
    margin-left: 4vw;
    width: 62%;
  }

  .section3-text p {
    font-size: 2.75vw;
  }

  /************************** SECTION 4 */
  .section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-bottom: 3vw;
    text-align: center;
  }

  .section4-right {
    width: 100%;
  }

  .section4-left {
    width: 80%;
  }

  .section4-left img {
    width: 100%;
  }

  .section4-right {
    padding: 7vw;
  }

  .section4-right-image {
    display: flex;
    justify-content: flex-end;
  }

  .section4-right-image img {
    display: none;
  }

  .section4-right h3 {
    font-size: 5vw;
    margin-bottom: 1vw;
    font-weight: 800;
  }

  .section4-right h2 {
    color: #f59e09;
    font-size: 8vw;
    margin-bottom: 2vw;
    font-weight: 800;
  }

  .section4-right p {
    font-size: 4vw;
    line-height: 1.4;
  }

  /************************** SECTION 5 */

  .section5 {
    width: 80vw;
    margin-bottom: 10vw;
    position: relative;
  }

  .section5-text h2 {
    font-size: 4vw;
    margin-bottom: 4vw;
    font-style: italic;
    font-weight: 900;
  }

  .section5-text {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 5vw;
    margin-right: 4vw;
    text-align: right;
    width: 55%;
  }

  .section5-text p {
    font-size: 2.75vw;
  }

  /************************** SECTION 6 */
  .section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .section6-main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section6-bkgd {
    background-color: #f59e09;
    height: 55%;
    width: 100vw;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

  .section6 h2 {
    width: 90%;
    font-weight: 500;
    font-size: 5vw;
    line-height: 1.2;
    text-align: center;
    color: #f59e09;
    margin-bottom: 3vw;
  }

  .section6 h3 {
    width: 100%;
    font-weight: 900;
    font-size: 5vw;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    margin-bottom: 3vw;
  }

  .section6 p {
    color: #fff;
    font-weight: 700;
    width: 77vw;
    font-size: 3.5vw;
    text-align: center;
    margin-bottom: 8vw;
    line-height: 1.4;
  }

  .section6 img {
    width: 90%;
    margin-bottom: 5vw;
  }

  /************************** FOOTER */
  footer {
    margin-top: 10vw;
    margin-bottom: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .footer-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer h1 {
    color: #f59e09;
    margin-bottom: 5vw;
    margin-top: 1vw;
    font-size: 2.5rem;
  }

  .footer-bottom {
    width: 70%;
    text-align: center;
    margin-top: 7vw;
  }

  .footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8vw;
  }

  .footer-social img {
    height: 100%;
    cursor: pointer;
  }

  .footer-button {
    display: inline-block;
    font-size: 4vw;
    font-weight: 700;
    background-color: #f59e09;
    border: none;
    padding: 2vw 4vw;
    border-radius: 1vw;
    color: #fff;
    border: 0.5vw solid #f59e09;
    margin-bottom: 1vw;
  }

  .footer-button:hover {
    font-size: 4vw;
    font-weight: 700;
    background-color: #f2f5f9;
    border: none;
    padding: 2vw 4vw;
    border-radius: 1vw;
    color: #242424;
    text-decoration: none;
    border: 0.5vw solid #242424;
  }

  .footer-button-group p {
    margin-bottom: 0;
    font-size: 4.5vw;
    font-weight: 900;
  }
}

/* TABLET SCREENS */
@media screen and (min-width: 700px) {
  /************************** TOP NAV */
  nav {
    margin-top: 8vw;
    margin-bottom: 8vw;
    width: 70vw;
  }

  nav h1 {
    color: #f59e09;
    font-size: 6vw;
  }

  .nav-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-button {
    display: none;
  }

  .main-logo {
    width: 8vw;
    height: 8vw;
    margin-bottom: 1vw;
  }

  .nav-button-group p {
    display: none;
  }

  /************************** SECTION 1 */

  .section1 {
    display: none;
  }

  .section1-mobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
    width: 70vw;
    text-align: center;
  }

  .section1-mobile-button {
    font-size: 4vw;
    font-weight: 700;
    background-color: #f59e09;
    border: none;
    padding: 2vw 4vw;
    border-radius: 1vw;
    color: #fff;
    border: 0.5vw solid #f59e09;
    margin-bottom: 2vw;
  }

  .section1-mobile-button:hover {
    font-size: 4vw;
    font-weight: 700;
    background-color: #f2f5f9;
    border: none;
    padding: 2vw 4vw;
    border-radius: 1vw;
    color: #242424;
    text-decoration: none;
    border: 0.5vw solid #242424;
  }

  .section1-mobile-middle {
    padding: 1vw;
    position: relative;
    margin-top: 7vw;
    margin-bottom: 10vw;
  }

  .section1-mobile-pattern {
    position: absolute;
    right: 15vw;
    bottom: 12.5vw;
    z-index: -1;
    transform: scale(1.7);
  }

  .section1-mobile-top h2 span {
    font-weight: 900;
    color: #fff;
  }

  .section1-mobile-top-h2-1 {
    background-color: #f59e09;
    color: #fff;
    font-weight: 600;
    padding: 2vw 4vw;
    width: 90%;
    text-align: center;
    font-size: 4.5vw;
  }

  .section1-mobile-top-h2-2 {
    background-color: #f59e09;
    color: #fff;
    font-weight: 600;
    padding: 2vw 4vw;
    width: 90%;
    text-align: center;
    margin-left: 5vw;
    margin-bottom: 4vw;
    font-size: 4.5vw;
  }

  .section1-mobile-top-h2-name {
    font-size: 12vw;
    font-weight: 700;
    margin-bottom: 3vw;
  }

  .section1-mobile-top h3 {
    font-size: 5vw;
    margin-bottom: 1vw;
  }

  .section1-mobile-top h4 {
    color: #f59e09;
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .section1-mobile-bottom p {
    margin-top: 4vw;
    margin-bottom: 0;
    font-size: 4.5vw;
    font-weight: 900;
  }

  /************************** SECTION 2 */
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
  }

  .section2 h2 {
    width: 90%;
    font-weight: 500;
    font-size: 5vw;
    line-height: 1.2;
    text-align: center;
    color: #f59e09;
    margin-bottom: 4vw;
  }

  .section2 p {
    width: 75vw;
    font-size: 3.25vw;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 10vw;
    font-weight: 500;
  }

  .section2 img {
    width: 100%;
    margin-bottom: 4vw;
  }

  /************************** SECTION 3 */

  .section3 {
    width: 70vw;
    margin-bottom: 3vw;
    position: relative;
  }

  .section3-text h2 {
    font-size: 3.5vw;
    margin-bottom: 4vw;
    font-style: italic;
    font-weight: 900;
  }

  .section3-text {
    position: absolute;
    margin-top: 25%;
    margin-left: 2.5vw;
    width: 62%;
  }

  .section3-text p {
    font-size: 2.5vw;
  }

  /************************** SECTION 4 */
  .section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin-bottom: 3vw;
    text-align: center;
  }

  .section4-right {
    width: 100%;
  }

  .section4-left {
    width: 80%;
  }

  .section4-left img {
    width: 100%;
  }

  .section4-right {
    padding: 5vw;
  }

  .section4-right-image {
    display: flex;
    justify-content: flex-end;
  }

  .section4-right-image img {
    display: none;
  }

  .section4-right h3 {
    font-size: 4vw;
    margin-bottom: 1vw;
    font-weight: 800;
  }

  .section4-right h2 {
    color: #f59e09;
    font-size: 7vw;
    margin-bottom: 2vw;
    font-weight: 800;
  }

  .section4-right p {
    font-size: 3.25vw;
    line-height: 1.4;
  }

  /************************** SECTION 5 */

  .section5 {
    width: 70vw;
    margin-bottom: 10vw;
    position: relative;
  }

  .section5-text h2 {
    font-size: 3.5vw;
    margin-bottom: 4vw;
    font-style: italic;
    font-weight: 900;
  }

  .section5-text {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 3vw;
    margin-right: 3vw;
    text-align: right;
    width: 55%;
  }

  .section5-text p {
    font-size: 2.75vw;
  }

  /************************** SECTION 6 */
  .section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .section6-main {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section6-bkgd {
    background-color: #f59e09;
    height: 55%;
    width: 100vw;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

  .section6 h2 {
    width: 90%;
    font-weight: 500;
    font-size: 4.75vw;
    line-height: 1.2;
    text-align: center;
    color: #f59e09;
    margin-bottom: 3vw;
  }

  .section6 h3 {
    width: 100%;
    font-weight: 900;
    font-size: 4.75vw;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    margin-bottom: 3vw;
  }

  .section6 p {
    color: #fff;
    font-weight: 700;
    width: 72vw;
    font-size: 3.25vw;
    text-align: center;
    margin-bottom: 8vw;
    line-height: 1.4;
  }

  .section6 img {
    width: 90%;
    margin-bottom: 5vw;
  }

  /************************** FOOTER */
  footer {
    margin-top: 10vw;
    margin-bottom: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

  .footer-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer h1 {
    color: #f59e09;
    margin-bottom: 5vw;
    margin-top: 1vw;
    font-size: 2.5rem;
  }

  .footer-bottom {
    width: 70%;
    text-align: center;
    margin-top: 7vw;
  }

  .footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8vw;
  }

  .footer-social img {
    height: 100%;
    cursor: pointer;
  }

  .footer-button {
    display: inline-block;
    font-size: 4vw;
    font-weight: 700;
    background-color: #f59e09;
    border: none;
    padding: 2vw 4vw;
    border-radius: 1vw;
    color: #fff;
    border: 0.5vw solid #f59e09;
    margin-bottom: 1vw;
  }

  .footer-button:hover {
    font-size: 4vw;
    font-weight: 700;
    background-color: #f2f5f9;
    border: none;
    padding: 2vw 4vw;
    border-radius: 1vw;
    color: #242424;
    text-decoration: none;
    border: 0.5vw solid #242424;
  }

  .footer-button-group p {
    margin-bottom: 0;
    font-size: 4.5vw;
    font-weight: 900;
  }
}

/* MEDIUM TO LARGE SCREENS */
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  /************************** TOP NAV */
  nav {
    margin-top: 2vw;
    margin-bottom: 7.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90vw;
  }

  .logo-link {
    margin-right: auto;
  }

  nav h1 {
    color: #f59e09;
    font-size: 2.5vw;
  }

  .nav-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-button {
    display: inline-block;
    font-size: 1.75vw;
    font-weight: 700;
    background-color: #f59e09;
    border: none;
    padding: 0.5vw 1.5vw;
    border-radius: 0.5vw;
    color: #fff;
    border: 0.25vw solid #f59e09;
    margin-bottom: 0.5vw;
  }

  .nav-button-group p {
    font-size: 1.9vw;
    font-weight: 900;
  }

  .nav-button:hover {
    background-color: #f2f5f9;
    color: #242424;
    border: 0.25vw solid #242424;
  }

  .main-logo {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 0.75vw;
    margin-bottom: 0;
  }

  .nav-button-group p {
    display: block;
  }

  /************************** SECTION 1 */
  .section1-mobile {
    display: none;
  }

  .section1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
    width: 90vw;
  }

  .section1-left,
  .section1-right {
    width: 48%;
  }

  .section1-left {
    padding: 1vw;
    position: relative;
    margin-top: 2vw;
  }

  .section1-left img {
    width: 100%;
  }

  .section1-pattern {
    position: absolute;
    right: 15vw;
    top: -5vw;
    z-index: -1;
    transform: scale(2);
  }

  .section1-right h2 span {
    font-weight: 900;
    color: #fff;
  }

  .section1-right-h2-1 {
    background-color: #f59e09;
    color: #fff;
    font-weight: 600;
    padding: 0.5em 0.5em;
    width: 70%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2.5vw;
  }

  .section1-right-h2-2 {
    background-color: #f59e09;
    color: #fff;
    font-weight: 600;
    padding: 0.5em 0.5em;
    width: 80%;
    text-align: center;
    margin-left: 1em;
    margin-bottom: 0.5em;
    font-size: 2.5vw;
  }

  .section1-right-h2-name {
    font-size: 4.5vw;
    font-weight: 700;
    margin-bottom: 3vw;
  }

  .section1-right h3 {
    font-size: 2.5vw;
    margin-bottom: 0.5vw;
  }

  .section1-right h4 {
    color: #f59e09;
    font-size: 2vw;
    margin-bottom: 0.25vw;
  }

  .section1-right p {
    margin-bottom: 2.5vw;
    font-size: 1.5vw;
  }

  /************************** SECTION 2 */
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }

  .section2 h2 {
    width: 55vw;
    font-weight: 500;
    font-size: 4vw;
    line-height: 1.2;
    text-align: center;
    color: #f59e09;
    margin-bottom: 3vw;
  }

  .section2 p {
    width: 70vw;
    font-size: 2vw;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 5vw;
    font-weight: 500;
  }

  .section2 img {
    width: 90%;
    margin-bottom: 3vw;
  }

  /************************** SECTION 3 */

  .section3 {
    width: 80vw;
    margin-bottom: 3vw;
    position: relative;
  }

  .section3 img {
    width: 100%;
  }

  .section3-text h2 {
    font-size: 3.75vw;
    margin-bottom: 4vw;
    font-style: italic;
    font-weight: 900;
  }
  .section3-text {
    position: absolute;
    margin-top: 25%;
    margin-left: 3vw;
    width: 60%;
  }

  .section3-text p {
    font-size: 2.5vw;
  }

  /************************** SECTION 4 */
  .section4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    margin-bottom: 5vw;
    text-align: left;
  }

  .section4-right,
  .section4-left {
    width: 50%;
  }

  .section4-left img {
    width: 90%;
  }

  .section4-right {
    padding: 0;
  }

  .section4-right-image {
    display: flex;
    justify-content: flex-end;
  }

  .section4-right-image img {
    display: inline-block;
    width: 10%;
  }

  .section4-right h3 {
    font-size: 2.5vw;
    margin-bottom: 0.5vw;
    font-weight: 800;
  }

  .section4-right h2 {
    color: #f59e09;
    font-size: 4vw;
    margin-bottom: 1vw;
    font-weight: 800;
  }

  .section4-right p {
    font-size: 2.5vw;
  }

  /************************** SECTION 5 */

  .section5 {
    width: 80vw;
    margin-bottom: 5vw;
    position: relative;
  }
  .section5 img {
    width: 100%;
  }
  .section5-text h2 {
    font-size: 3.5vw;
    margin-bottom: 4vw;
    font-style: italic;
    font-weight: 900;
  }
  .section5-text {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 3.5vw;
    margin-right: 4.5vw;
    text-align: right;
    width: 50%;
  }

  .section5-text p {
    font-size: 2.5vw;
  }

  /************************** SECTION 6 */
  .section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .section6-main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section6-bkgd {
    background-color: #f59e09;
    height: 45%;
    width: 100vw;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

  .section6 h2 {
    width: 65%;
    font-weight: 500;
    font-size: 4vw;
    line-height: 1.2;
    text-align: center;
    color: #f59e09;
    margin-bottom: 2vw;
  }

  .section6 h3 {
    width: 70%;
    font-weight: 900;
    font-size: 4vw;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    margin-bottom: 2vw;
  }

  .section6 p {
    color: #fff;
    font-weight: 700;
    width: 75%;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 4vw;
    line-height: 1.4;
  }

  .section6 img {
    width: 70%;
    margin-bottom: 2vw;
  }

  /************************** FOOTER */
  footer {
    margin-top: 2vw;
    margin-bottom: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .footer-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  footer h1 {
    color: #f59e09;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2.5vw;
  }

  .footer-bottom {
    width: 25vw;
    text-align: center;
    margin-top: 2vw;
  }

  .footer-bottom p {
    font-size: 1.125vw;
  }

  .footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
  }

  .footer-social img {
    height: 100%;
    cursor: pointer;
  }

  .footer-button {
    display: inline-block;
    font-size: 1.75vw;
    font-weight: 700;
    background-color: #f59e09;
    border: none;
    padding: 0.5vw 1.5vw;
    border-radius: 0.5vw;
    color: #fff;
    border: 0.25vw solid #f59e09;
    margin-bottom: 0.5vw;
  }

  .footer-button-group p {
    font-size: 1.9vw;
    font-weight: 900;
  }

  .footer-button:hover {
    font-size: 1.75vw;
    font-weight: 700;
    background-color: #f2f5f9;
    border: none;
    padding: 0.5vw 1.5vw;
    border-radius: 0.5vw;
    color: #242424;
    text-decoration: none;
    border: 0.25vw solid #242424;
  }
}

/* XLARGE SCREENS */
@media screen and (min-width: 1200px) {
  /************************** TOP NAV */
  nav {
    margin-top: 2vw;
    margin-bottom: 7.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 70vw;
  }

  .logo-link {
    margin-right: auto;
  }

  nav h1 {
    color: #f59e09;
    font-size: 1.75vw;
  }

  .nav-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-button {
    display: inline-block;
    font-size: 1.125vw;
    font-weight: 700;
    background-color: #f59e09;
    border: none;
    padding: 0.5vw 1.5vw;
    border-radius: 0.25vw;
    color: #fff;
    border: 0.175vw solid #f59e09;
    margin-bottom: 0.5vw;
  }

  .nav-button-group p {
    font-size: 1.35vw;
    font-weight: 900;
  }

  .nav-button:hover {
    background-color: #f2f5f9;
    color: #242424;
    border: 0.175vw solid #242424;
  }

  .main-logo {
    width: 1.75vw;
    height: 1.75vw;
    margin-right: 0.75vw;
    margin-bottom: 0;
  }

  .nav-button-group p {
    display: block;
  }

  /************************** SECTION 1 */
  .section1-mobile {
    display: none;
  }

  .section1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
    width: 70vw;
  }

  .section1-left,
  .section1-right {
    width: 48%;
  }

  .section1-left {
    padding: 1vw;
    position: relative;
    margin-top: 2vw;
  }

  .section1-left img {
    width: 100%;
  }

  .section1-pattern {
    position: absolute;
    right: 11vw;
    top: -5vw;
    z-index: -1;
    transform: scale(2);
  }

  .section1-right h2 span {
    font-weight: 900;
    color: #fff;
  }

  .section1-right-h2-1 {
    background-color: #f59e09;
    color: #fff;
    font-weight: 600;
    padding: 0.5em 0.5em;
    width: 70%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2vw;
  }

  .section1-right-h2-2 {
    background-color: #f59e09;
    color: #fff;
    font-weight: 600;
    padding: 0.5em 0.5em;
    width: 80%;
    text-align: center;
    margin-left: 1em;
    margin-bottom: 0.5em;
    font-size: 2vw;
  }

  .section1-right-h2-name {
    font-size: 4.25vw;
    font-weight: 700;
    margin-bottom: 2vw;
  }

  .section1-right h3 {
    font-size: 2vw;
    margin-bottom: 0.5vw;
  }

  .section1-right h4 {
    color: #f59e09;
    font-size: 1.65vw;
    margin-bottom: 0.25vw;
  }

  .section1-right p {
    margin-bottom: 2.5vw;
    font-size: 1.15vw;
  }

  /************************** SECTION 2 */
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
  }

  .section2 h2 {
    width: 45vw;
    font-weight: 500;
    font-size: 3.25vw;
    line-height: 1.2;
    text-align: center;
    color: #f59e09;
    margin-bottom: 3vw;
  }

  .section2 p {
    width: 55vw;
    font-size: 1.8vw;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 4vw;
    font-weight: 500;
  }

  .section2 img {
    width: 90%;
    margin-bottom: 3vw;
  }

  /************************** SECTION 3 */

  .section3 {
    width: 65vw;
    margin-bottom: 3vw;
    position: relative;
  }

  .section3 img {
    width: 100%;
  }

  .section3-text h2 {
    font-size: 3vw;
    margin-bottom: 4vw;
    font-style: italic;
    font-weight: 900;
  }
  .section3-text {
    position: absolute;
    margin-top: 25%;
    margin-left: 2vw;
    width: 60%;
  }

  .section3-text p {
    font-size: 2vw;
  }

  /************************** SECTION 4 */
  .section4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65vw;
    margin-bottom: 5vw;
    text-align: left;
  }

  .section4-right,
  .section4-left {
    width: 50%;
  }

  .section4-left img {
    width: 100%;
  }

  .section4-right-image {
    display: flex;
    justify-content: flex-end;
  }

  .section4-right {
    padding: 0;
  }

  .section4-right-image img {
    display: inline-block;
    width: 10%;
  }

  .section4-right h3 {
    font-size: 2vw;
    margin-bottom: 0.5vw;
    font-weight: 800;
  }

  .section4-right h2 {
    color: #f59e09;
    font-size: 3vw;
    margin-bottom: 1vw;
    font-weight: 800;
  }

  .section4-right p {
    font-size: 2.1vw;
  }

  /************************** SECTION 5 */

  .section5 {
    width: 65vw;
    margin-bottom: 3vw;
    position: relative;
  }
  .section5 img {
    width: 100%;
  }
  .section5-text h2 {
    font-size: 3vw;
    margin-bottom: 4vw;
    font-style: italic;
    font-weight: 900;
  }
  .section5-text {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 3vw;
    margin-right: 4vw;
    text-align: right;
    width: 55%;
  }

  .section5-text p {
    font-size: 2vw;
  }

  /************************** SECTION 6 */
  .section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .section6-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section6-bkgd {
    background-color: #f59e09;
    height: 45%;
    width: 100vw;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

  .section6 h2 {
    width: 50vw;
    font-weight: 500;
    font-size: 3.25vw;
    line-height: 1.2;
    text-align: center;
    color: #f59e09;
    margin-bottom: 2vw;
  }

  .section6 h3 {
    width: 50vw;
    font-weight: 900;
    font-size: 3vw;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    margin-bottom: 2vw;
  }

  .section6 p {
    color: #fff;
    font-weight: 700;
    width: 57.5vw;
    font-size: 1.75vw;
    text-align: center;
    margin-bottom: 3vw;
    line-height: 1.4;
  }

  .section6 img {
    width: 70%;
    margin-bottom: 2vw;
  }

  /************************** FOOTER */
  footer {
    margin-top: 2vw;
    margin-bottom: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
  }

  .footer-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  footer h1 {
    color: #f59e09;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.75vw;
  }

  .footer-bottom {
    width: 25%;
    text-align: center;
    margin-top: 2vw;
  }

  .footer-bottom p {
    font-size: 1.125vw;
  }

  .footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
  }

  .footer-social img {
    height: 1.5vw;
    cursor: pointer;
  }

  .footer-button {
    display: inline-block;
    font-size: 1.125vw;
    font-weight: 700;
    background-color: #f59e09;
    border: none;
    padding: 0.5vw 1.5vw;
    border-radius: 0.25vw;
    color: #fff;
    border: 0.175vw solid #f59e09;
    margin-bottom: 0.5vw;
  }

  .footer-button:hover {
    font-size: 1.125vw;
    font-weight: 700;
    background-color: #f2f5f9;
    border: none;
    padding: 0.5vw 1.5vw;
    border-radius: 0.25vw;
    color: #242424;
    text-decoration: none;
    border: 0.175vw solid #242424;
  }

  .footer-button-group p {
    font-size: 1.35vw;
    font-weight: 900;
  }
}

/* XL BAR FIX */
@media screen and (min-width: 1600px) {
  .section6-bkgd {
    height: 50%;
  }
}